{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Объяснить слово</h2>
                <p>
                    <form accept-charset="UTF-8" action="" autocomplete="off" method="POST">
                        <label for="word">Слово</label><br />
                        <input name="word" type="text" value="" placeholder="word"/> <br />
                        <label for="n_words">Количество подсказок</label><br />
                        <input type="number" name="n_words" min="1" value="5"><br />
                        <button type="submit" value="Submit">Submit</button>
                    </form>
                </p>
                {% if explanation is defined %}
                    <p>Объяснение:</p>
                    <p>{{ explanation }}</p>
                {% endif %}
            </div>
            <div class="col">
                <h2>Отгадать слово</h2>
                <p>
                    <form accept-charset="UTF-8" action="" autocomplete="off" method="POST">
                        <label for="words">Подсказки через пробел</label><br />
                        <input name="words" type="text" value="" placeholder="word1 word2"/> <br />
                        <label for="n_words">Количество догадок</label><br />
                        <input type="number" name="n_words" min="1" value="5"><br />
                        <button type="submit" value="Submit">Submit</button>
                    </form>
                </p>
                {% if guess is defined %}
                    <p>Догадки:</p>
                    <p>{{ guess }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
